* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Times New Roman', Times, serif
}

/* NAV BAR */

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 47px;
  background-color: white;
  z-index: 5;
  border-bottom: 1px solid #e2e2e2;
  font-family: sans-serif;
}

.navLi {
  margin: 0 10px;
}

.navLi a {
  color: black;
  font-weight: bold;
}

#navGenre a {
  text-decoration: none;
}

#navDiv, #navUl, #subscribeLogIn {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 5;
  margin: auto;
}

#navUl {
  list-style-type: none;
  position: absolute;
  left: -30px;
  top: 13px;
}

#navLogo {
  position: absolute;
  margin: auto;
  margin-bottom: 10px;
  top: -5px;
  left: 40%;
}

#subscribeLogIn button {
  height: 30px;
  vertical-align: middle;
  color: white;
  background-color: #333333;
  border-radius: 2px;
  border: 1px solid #202020;
}

#subscribeLogIn {
  position: absolute;
  top: 5px;
  right: 25px;
}

#subscribeLogIn a {
  margin-top: -10px;
  margin-right: 15px;
  color: #333333;
}

/* HEADER */

header div {
  width: 100%;
}

header div h1 {
  width: 383px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  position: relative;
  left: -75px;
  font-style: italic;
}

/* BODY */

main {
  position: relative;
  top: 85px;
}

#alanGuth {
  margin: auto;
}

#guthFigure {
  width: 1134px;
  margin: auto;
}

#guthFigure figcaption {
  width: 70%;
  color: #666;
  margin-top: 10px;
}

#rickF {
  color: #888;
  font-size: .9em;
}

#articleInfo {
  margin-top: 50px;
}

.article {
  font-size: 1.3rem;
  line-height: 1.875rem;
}

#author, .article, #dateIcons {
  max-width: 600px;
  margin: auto;
}

#dateIcons, #commentsIcons {
  display: flex;
  padding-left: 0;
  justify-content: flex-end;
}

#topIconList, #bottomIconList {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  width: 242px;
  justify-content: space-between;
}

#date {
  margin-right: 255px;
}

/* ARTICLE */

#youtubeFigure {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

#stanfordVideo {
  border: 1px solid black;
  margin: auto;
}

.bottomInfo {
  margin-top: 50px;
}

#readMore {
  position: relative;
  top: 350px;
}

#bottomNav {
  position: relative;
  top: 300px;
}

/* THE THEORY OF INFLATION */

#inflationHeaderImageText {
  width: 945px;
  margin: auto;
}

#theoryOfInflation {
  width: 945px;
  height: auto; /* keeps ratio*/
  position: absolute;
}

.imgText {
  width: 228px;
  /* height: 120px; */
  /* margin: 8px; */
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  font-size: 14px;
}

#topInflationText {
  display: flex;
  position: relative;
  top: 130px;
}

#img1, #img2, #img5, #img6 {
  margin-right: 10px;
}

#img3, #img4, #img7, #img8  {
  margin-left: 10px;
}


#bottomInflationText {
  display: flex;
  position: relative;
  top: 242px;
}

.bold {
  font-weight: bolder;
  font-size: 14px;
  margin-right: 10px;
}

#inflationAuthors {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 260px;
}

#inflationAuthors::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  background-color: black;
  margin: 0 0 5px;
}

#afterInflation {
  position: relative;
  top: 300px;
}

/* SMALL PRINT AFTER ARTICLE */
.bottomInfo p, .bottomInfo a {
  font-size: .7rem;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

.bottomInfo a {
  font-weight: 700;
}

/* READ COMMENTS SECTION */
#readButton {
  width: 330px;
  height: 36px;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #567b95;
  color: white;
  border: 1px solid #326891;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 30px;
  position: relative;
  top: 17px;
}

/* READ MORE FROM SCIENCE ASIDE */

#readMore h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

#insideReadMore {
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding: 0 10px;
  margin: auto;
  border-bottom: 1px solid #dcdcdc; 
}

#insideReadMore li {
  list-style-type: none;
  max-width: 385px;
  height: 537px;
  padding: 0 10px;
}

#insideReadMore li figure {
  max-width: 380px;
  margin: auto;
}

#insideReadMore li figure img {
  max-width: 380px;
  width: 100%;
}

#item2 {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  max-width: 380px;
}

.photographerInfo {
  text-align: end;
  font-size: 0.6em;
  line-height: 1.23em;
  color: #999999;
}

#readMore h2 {
  color: rgb(51, 51, 51);
  font-weight: 500;
}

.summary {
  color: rgb(85, 85, 85);
  font-size: 1rem;
}

.authTime {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(85, 85, 85);
  font-size: inherit;
}

#accessMore {
  max-width: 1200px;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  color: #333333;
  border-bottom-style: double;
  border-bottom-width: 100%;
  border-bottom-color: #e2e2e2;
  padding-bottom: 55px;
}

#accessHeader {
  font-size: 1.4em;
}

#createButton {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  background-color: #333333;
  border: 1px solid #333333;
  color: white;
  font-weight: bold;
}

#accessMore h5 {
  font-size: 1.1em;
}

#accessMore a {
  color: #333333;
}

/* FOOTER */

#bottomHeader {
  display: flex;
  justify-content: space-between;
}

#bottomHeader a {
  position: relative;
  top: 28px;
  color: rgb(86, 123, 149);
  font-size: .8em;
  text-decoration: none;
}

#bottomLogo {
  position: relative;
  top: 15px;
  margin-left: 15px;
}

footer {
  position: relative;
  top: 120px;
  max-width: 1200px;
  margin: auto;
  font-size: .9em;
  margin-bottom: 500px;
}

footer h3 { 
  font-size: .8em;
}

#footerLists {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
 
#footerLists h3 {
  margin-bottom: 5px;
  font-weight: 750;
}

#footerLists ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

#footerLists li {
  margin: 5px 0;
}

#footerLists li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#subscribeList {
  border-left: 1px solid #dcdcdc;
  padding-left: 15px;
}

.subscribeListIcon {
  font-weight: 700;
  font-size: 1.1em;
}

#subscribeList ul li a img {
  vertical-align: middle;
}

#secondSmallerList {
  border-bottom: 1px solid #dcdcdc;
}

#footerText {
  position: relative;
  top: 345px;
  text-align: center;
  font-size: .8em;
  line-height: 2em;
}

#footerText a:hover {
  text-decoration: underline;
}

#footerText a {
  margin: 0 2% 0 2%;
  color: #999;
  text-decoration: none;
}